svg g g[id^="link"]:hover path {
    stroke: #FF0000 !important;
    stroke-width: 2.0;
}

svg g g[id^="link"]:hover polygon {
    stroke: #FF0000 !important;
}

svg g g[id^="link"]:hover text {
    fill: #FF0000 !important;
}

body {
    font-family: "Georgia", serif;
}

text {
    font-family: "Georgia", serif;
}

.collapse-title {
    font-size: 1rem;
    font-weight: normal !important;
    cursor: pointer;
}

::marker {
    font-size: 1rem; /* or you can use a specific size like 0.75em */
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: #30638c !important;
}
